@import "../../app.scss";

.education {
    max-width: 1366px;
    height: 100%;
    background: linear-gradient(180deg, #111132, #0c0c1d);
    margin: auto;
    display: flex;
    align-items: center;

    .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 30px;
        gap: 20px;

        h1 {
            font-size: 88px;
            color: orange;
        }

        h2 {
            font-weight: 200;
            padding-right: 20px;
            font-size: medium;
            max-width: 600px;
            line-height: 35px;
        }
    }

    .timelineContainer {
        flex: 1;
        position: relative;
        padding-right: 20px;
        overflow: hidden;

        .timelineColumn {
            background-color: transparent;
            display: flex;
            flex-direction: column;

            .card {
                position: relative;
                max-width: 600px;
                max-height: 200px;
                padding: 30px;

                &:nth-child(odd) {
                    padding: 30px 30px 30px 0;
                }

                &:nth-child(even) {
                    padding: 30px 0 30px 30px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    width: 50%;
                    border: solid orangered;
                }

                &:nth-child(odd)::before {
                    left: 0px;
                    top: -4.5px;
                    bottom: -4.8px;
                    border-width: 5px 0 5px 5px;
                    border-radius: 50px 0 0 50px;
                }

                &:nth-child(even)::before {
                    right: 0;
                    top: 0;
                    bottom: -1px;
                    border-width: 5px 5px 5px 0;
                    border-radius: 0 50px 50px 0;
                }
            }
        }
    }

    @include mobile {
        flex-direction: column;

        .textContainer {
            padding: 20px;
            text-align: center;

            h1 {
                font-size: 48px;
            }

            h2 {
                font-size: 16px;
                max-width: 100%;
            }
        }

        .timelineContainer {
            padding: 20px;

            .timelineColumn {
                .card {
                    padding: 20px;

                    &:nth-child(odd),
                    &:nth-child(even) {
                        padding: 20px;
                    }
                }
            }
        }
    }
}
