@import "../../app.scss";
.education{
    height: 100%;
    background: linear-gradient(180deg, #111132,#0c0c1d );
    display: flex;
    align-items: center;
    margin: auto;
   
    @include mobile{  
      width: 100%;
      padding: 10px;
      flex-direction: column;
    
  }
    .textContainer{
        
        flex:1;
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 60px;
        gap: 20px;
        @include mobile{
          margin-top: -58px;
          width: 100%;
          gap:20px;
          text-align: center;
          align-items: center;
          z-index: 100;
          gap:20px;
          padding-left: unset;
      }
        h1{
            font-size: 88px;
            color: orange;
            @include mobile{
              font-size: 30px;
              line-height: 20px;
              width: 100%;
           } 
        }
        h2{
            font-weight: 200;
            padding-right: 20px;
            font-size: medium;
            max-width: 600px;
            line-height: 35px;
            @include mobile{
              width: 100%;
              font-size: 15px;
              line-height: 20px;
           }
        }
        
    }
    .timelineContainer{
       
       flex:1;
       position: relative;
       padding-right: 20px;
       overflow: hidden;
       @include mobile{
        padding: 0px;
        width: 100%;
        padding-right: unset;
        margin-top: -100px;
        
       }
       .timelineColumn{
        background-color: transparent;
        display: flex;
        flex-direction: column;
        scale:1;
      
/* Timeline Container */
.timeline {
    margin: 20px auto;
    @include mobile{
      margin: 0px;
      width: 380px;
   }
  }
  
  /* Card container */
  .card {
    position: relative;
    max-width: 600px;
    max-height: 200px;
    
  }
  
  /* setting padding based on even or odd */
  .card:nth-child(odd) {
    padding: 30px 0 30px 30px;
  }
  .card:nth-child(even) {
    padding: 30px 30px 30px 0;
  }
  /* Global ::before */
  .card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid orangered;
    
  }
  
  /* Setting the border of top, bottom, left */
  .card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.8px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
  }
  
  /* Setting the border of top, bottom, right */
  .card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: -1px;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
  }
  
  /* Removing the border if it is the first card */
  .card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's odd */
  .card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's even */
  .card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
  }
  
  /* Information about the timeline */
  .info {
    display: flex;
    flex-direction: column;
    background: #cfc7d82d;
    color: #808080;
    border-radius: 10px;
    padding: 10px;
    max-height: 200px;
    transition: box-shadow 0.3s ease-in-out, outline 0.3s ease-in-out;
    z-index: 3;
    @include mobile{
      padding: 5px;
      
    }
    /* Title of the card */
  .title {
    color: orangered;
    position: relative;
    font-size: 30px;
    z-index: 2;
    @include mobile{
      font-size: 20px;
    }

  }
  
  /* Timeline dot  */
  .title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    border: 3px solid orangered;
  }
  p{
    margin-top: 10px;
    font-size: 15px;
    line-height: 20px;
    color:lightgray;
    z-index: 1;
  }  
  }
  .info:hover{
    box-shadow: 0 0 20px 0 orangered;
      outline: 2px solid orange;
      scale: 1.04;
  }
  
  
 
  /* text right if the card is even  */
  .card:nth-child(even) > .info > .title {
    text-align: right;
    
  }
  
  
  /* setting dot to the left if the card is odd */
  .card:nth-child(odd) > .info > .title::before {
    left: -45px;
  }
  
  /* setting dot to the right if the card is odd */
  .card:nth-child(even) > .info > .title::before {
    right: -45px;
  }
  
       }
       
    }
}
