@import "../../../app.scss";
.fpane{
  background: linear-gradient(180deg, #111132,#0c0c1d );
  
.card-container {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 3%;
  padding-left: 35px;
  padding-right: 35px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto; /* Add overflow handling for vertical overflow */
   /* Adjust the maximum height as needed */
    @include mobile{
      align-self: center;
      text-align: center;
      flex-direction: column;
      
    }

  }
.card-container:hover .card {
  opacity: .7;
  cursor: pointer;
  filter: grayscale(1);
  color:black;
}
.card-container .card {
  margin: 10px;
  width: calc(100% / 5 - 20px);
  
  box-shadow: 0 0 2px 2px rgba(0,0,0,.05);
  background:rgba(129, 19, 231, 0.87);
  -webkit-transition: .3s all ease;
  transition: .15s all ease;
  border-radius: 12px;
  @include mobile{
    width: calc(100% / 1 - 20px);
  }
 
}
.card-container .card:hover {
  box-shadow: 0 0 8px 3px rgba(0,0,0,.15);
  transform: scale(1.025);
  opacity: 1;
  filter: grayscale(0);
  color:white;
  transition: .35s all ease;
}
.card-container .card:hover p{
  
  filter: grayscale(0);
  color:white;
  transition: .35s all ease;
}
.card-container .card img {
  width: 100%;
  padding: 0;
  margin: 0;
  
}
.card-container .card .content {
  padding: 20px 20px;
  
}
.card-container .card h3 {
  font-size:larger;
  padding: 0;
  margin: 5px 0 15px;
  letter-spacing: -.075rem;
  line-height:25px;
}
.card-container .card p {
  padding: 0;
  margin: 0;
  font-size: medium;
  line-height: 22px;
}
.card-container .card img {
  width: 100%;
  height: 200px; /* Set a fixed height */
  object-fit: cover; /* Ensure the image covers the specified dimensions */
}
.card-container .card button{
margin-top:30px;
position: relative;
display: inline-block;
outline: none;
cursor: pointer;
font-size: 15px;
line-height: 4px;
border-radius: 500px;
transition-property: background-color,border-color,color,box-shadow,filter;
transition-duration: .3s;
border: 1px solid transparent;
min-width: 160px;
white-space: normal;
font-weight: 700;
text-align: center;
padding: 16px 14px 18px;
color: #e8edf1;
box-shadow: inset 0 0 0 2px #f2f4f7;
background-color: transparent;
height: 28px;

}
.card-container .card button:hover{
  color: rgba(107, 13, 194, 0.959);
  background-color: #fefdff;
}
/* Target WebKit browsers (e.g., Chrome, Safari) */
.card-container::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

/* Track (the area where the scrollbar sits) */
.card-container::-webkit-scrollbar-track {
  margin-top: 50px; 
  border: 4px solid #0c0c1d;
	// border color does not support transparent on scrollbar
	// border-color: transparent;
	background-color: #f5f6f7;
  
}

/* Handle (the draggable part of the scrollbar) */
.card-container::-webkit-scrollbar-thumb {
  background-color: #888; /* Change the color of the thumb */
  border-radius: 8px; /* Add border-radius to make it round */
  width: 15px;
}
.card-container::-webkit-scrollbar{
  width: 10px;
  border-radius: 8px;

}
/* Handle on hover */
.card-container::-webkit-scrollbar-thumb:hover {
  background-color:rgb(160, 69, 245) /* Change the color on hover */
}

}
